# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
*.whl
.eggs/

# Virtual environments
.venv/
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Environment & secrets
.env
*.env
.env.*
!.env.example

# Docker volumes
postgres_data/

# Static generated / exports
static/exports/
static/fonts/
static/images/


# OS
.DS_Store
Thumbs.db
desktop.ini

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# MyPy
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

outputs

config.yml